/nbproject/
config.cache
config.log
config.status
include/language.h
include/sysconf.h
include/version.h
install-sh
lang/de
lang/en_us
lang/es
lang/fr
lang/index
lang/it
lang/langcomp
lang/language.h
lang/nl
lang/pt_br
lang/ru
Makefile
src/bin/denorarc
src/bin/geoipupd
src/core/Makefile.inc
src/modules/Makefile.inc
src/protocol/Makefile.inc
src/stats
