/nbproject/
config.cache
config.log
config.status
config.bak
include/language.h
include/sysconf.h
include/version.h
install-sh
lang/de
lang/en_us
lang/es
lang/fr
lang/index
lang/it
lang/langcomp
lang/language.h
lang/nl
lang/pt_br
lang/ru
Makefile
src/*.o
src/stats
src/bin/denorarc
src/bin/geoipupd
src/core/*.o
src/core/*.so
src/core/Makefile.inc
src/modules/*.o
src/modules/*.so
src/modules/Makefile.inc
src/protocol/*.o
src/protocol/*.so
src/protocol/Makefile.inc
